div.appview-container.css-1wrcr25.egzxvld6 {
    background: linear-gradient(to right, #ff6339, #0077b6, #00c3ff);
    font-family: 'Roboto', Arial, sans-serif;
    color: #ffffff;
}

header.css-18ni7ap.e8zbici2 {
    background: linear-gradient(to right, #ff6339, #0077b6, #00c3ff);
    color: #ffffff;
}

div.block-container.css-1y4p8pa.egzxvld4{
    color:#ffffff;
}

